/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

*,
*:before,
*:after {
  box-sizing: border-box;
}

.grid_container {
  display: grid;
  grid-template-areas:
    "head head"
    "left right"
    "foot foot";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-gap: 10px;
  height: 100vh;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

footer {
  grid-area: foot;
}

header {
  grid-area: head;
}
